<% let s = 0, d = 0, e = 0 %>
<div id="element-container" class="flex-container">
  <div id="left-container">
    <div id="dates">
      <h2>Dates</h2>
      <% for (let el of data) { %>
      <p id="<%= 'd-' + d %>" class="items" data-date="<%= el.Startdate %>">
        <%= new Intl.DateTimeFormat('en-GB', {day: 'numeric', month: 'long',
        year: 'numeric'}).format(el.Startdate) %>
      </p>
      <% d++ } %>
    </div>
    <div id="stages">
      <h2>Stages</h2>
      <% for (let el of data) { %>
      <p id="<%= 's-' + s %>" <% s++ %>
        class="items" data-stage="<%= el.Name %>"><%= el.Name %>
      </p>
      <% } %>
    </div>
  </div>
  <div id="right-container">
    <h2>Events</h2>
    <% for (let el of data) { %>
    <p id="<%= 'e-' + e %>" <% e++ %>
      class="items" data-events="<%= JSON.stringify(el) %>"><%= el.PerformerName
      %>
    </p>
    <% } %>
  </div>
</div>
